#feed {
  padding: 1em;
}

#feed .animate {
  opacity: 0;
  -webkit-transform: translate3d(0, -12em, 0) scaleY(0);
          transform: translate3d(0, -12em, 0) scaleY(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 400ms;
  transition: 400ms;
}

#feed .post {
  padding: 1.5em;
  border-radius: 1em;
  margin-bottom: 1em;
}

#feed .post .top-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#feed .post .top-post .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#feed .post .top-post .left img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 90%;
}

#feed .post .top-post .left a {
  font-weight: 500;
}

#feed .post .top-post .right {
  font-weight: lighter;
  position: relative;
}

#feed .post .top-post .right .fa-ellipsis-v {
  margin-left: 10px;
  cursor: pointer;
}

#feed .post .top-post .right .interative-form.close {
  display: none;
}

#feed .post .top-post .right .interative-form.open {
  position: absolute;
  display: block;
  top: 30px;
  right: 0;
}

#feed .post .top-post .right .interative-form.open .btn-form {
  padding: 10px 15px;
  cursor: pointer;
  width: 150px;
  text-align: center;
  font-weight: 500;
}

#feed .post .top-post .right .interative-form.open .btn-form:first-child {
  border-radius: 1em 1em 0 0;
}

#feed .post .top-post .right .interative-form.open .btn-form:last-child {
  border-radius: 0 0 1em 1em;
}

#feed .post .content-post {
  margin: 1em 0;
  word-break: break-all;
}

#feed .post .bottom-post .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#feed .post .bottom-post .list .tab {
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 1em;
  text-align: center;
  cursor: pointer;
}

#feed .post .bottom-post .list .tab span {
  margin-left: 5px;
}

body.light #feed .post {
  background: #EDEDED;
  border: 4px solid rgba(0, 0, 0, 0.1);
}

body.light #feed .post .interative-form.open .btn-form {
  background: #ffffff;
  color: #252525;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

body.light #feed .post .interative-form.open .btn-form:hover {
  background: #e0e0e0;
  color: #252525;
}

body.light #feed .post .top-post .left a {
  color: #202020;
}

body.light #feed .post .top-post .right {
  color: #4e4e4e;
}

body.light #feed .post .content-post {
  color: #4e4e4e;
}

body.light #feed .post .bottom-post .list .tab:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #9233ff;
}

body.dark #feed .post {
  background: #0d0d1a;
  border: 4px solid rgba(255, 255, 255, 0.1);
}

body.dark #feed .post .interative-form.open {
  z-index: 99;
}

body.dark #feed .post .interative-form.open .btn-form {
  background: #272525;
  color: #EDEDED;
  border: 1px solid silver;
}

body.dark #feed .post .interative-form.open .btn-form:hover {
  background: #504d4d;
}

body.dark #feed .post .top-post .left a {
  color: #EDEDED;
}

body.dark #feed .post .top-post .right {
  color: silver;
}

body.dark #feed .post .content-post {
  color: #EDEDED;
}

body.dark #feed .post .bottom-post .list .tab:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #b97bff;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#images-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#images-preview img {
  width: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5%;
}

#images-preview video {
  width: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5%;
}

@media screen and (max-width: 900px) {
  #feed {
    padding: 1em;
  }
  #feed .post {
    padding: 1em;
  }
  #feed .post .top-post .left {
    font-size: .9em;
    margin-bottom: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #feed .post .top-post .left img {
    width: 40px;
    height: 40px;
  }
  #feed .post .top-post .right {
    text-align: center;
    font-size: .8em;
  }
  #feed .post .content-post {
    font-size: .9em;
  }
  #feed .post .bottom-post .list .tab {
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 2em;
  }
  #feed .post .bottom-post .list .tab span {
    display: none;
  }
}
/*# sourceMappingURL=feed.css.map */