#tool-bar {
    height: 100vh;
    width: 20vw;
    padding-top: 2em;
    position: fixed;
    z-index: 999;
    
    .logo {
        margin: 0 auto;
        font-size: 3vw;
        margin-bottom: 1em;
        text-align: center;
    }

    .btn {
        display: block;
        font-size: 1.2vw;
        padding: 10px;
        font-weight: 600;
        padding-left: 20%;

        i {
            margin-right: 10px;
        }
    }
}

#container {
    margin: 0 25vw 0 20vw;
    height: 100vh;

    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888;
        height: 10px;
        border-radius: 1em;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

#message-section {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 25vw;
    height: 100vh;
    transition: 500ms;

    h2 {
        font-weight: 700;
        font-size: 1.5vw;
        margin: 1em;
    }

    .talk {
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;

        img {
            width: 60px;
            border-radius: 90%;
            margin-right: 15px;
            margin-left: 1em;
        }

        .name {
            font-weight: 600;
        }
    }

    &.message-section-open {
        overflow-y: auto;
    
        &::-webkit-scrollbar {
            width: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #888;
            height: 10px;
            border-radius: 1em;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    &.message-section-close{
        height: 0;
    } 
}

#message-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25vw; 
    text-align: center;
    border-radius: 2em 2em 0 0;
    padding: 15px;
    cursor: pointer;
    transition: 500ms;
    background: linear-gradient(35deg, #7700ff 40%,  #0059ff); 
    color: #FFF;
}

.message-btn-open {
    i {
        transform: rotate(180deg);
    }
}

body.light {
    #container {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }

    #tool-bar {
        background: #EDEDED;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
        
        .btn {
            color: #0D0D1A;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

            &:hover {
                background: rgb(224, 224, 224);
                transition: 200ms;
            }
        } 
    }

    #message-section {
        background: linear-gradient(45deg, #EDEDED, #dbdbdb);
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);

        .talk {
            color: #0D0D1A;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

            &:hover {
                background: rgb(204, 204, 204);
                transition: 200ms;
            }
        }
    }

    #container,
    #message-section.message-section-open {
        &::-webkit-scrollbar-track {
            background: #c7c7c7;
        }
    }

    #message-btn {
        box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
    }
}

body.dark {
    #container {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
    }
    
    #tool-bar {
        background: #0D0D1A;
        box-shadow: 0px 0px 5px rgba(134, 134, 134, 0.1);

        .btn {
            color: #EDEDED;
            box-shadow: 0px 0px 5px rgba(134, 134, 134, 0.1);

            &:hover {
                background: #1e1e30;
                color: rgb(216, 216, 216);
            }
        }
    }

    #message-section {
        background: #0D0D1A;
        box-shadow: 0px 0px 5px rgba(134, 134, 134, 0.1);

        .talk {
            color: #EDEDED;
            box-shadow: 0px 0px 5px rgba(134, 134, 134, 0.1);

            &:hover {
                background: #1e1e30;
                color: rgb(216, 216, 216);
            }
        }
    }

    #container , 
    #message-section.message-section-open {
        &::-webkit-scrollbar-track {
            background: #272747;
        }
    }

    #message-btn {
        box-shadow: 0px -5px 5px rgba(134, 134, 134, 0.1);
    }
}

@media screen and (max-width: 900px) { 
    #container  {
        margin: 0;
        padding-top: 5em;

        h1 {
            font-size: 1em;
        }
    }

    #tool-bar {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        padding: 1em;

        .logo {
            font-size: 1.5em;
            margin: 0;
        }
    
        .buttons {
            display: flex;

            .btn {
                height: auto;
                font-size: 2.5vw;
                display: flex;
                padding: 10px;
                justify-content: center;
                align-content: center;
                border-radius: 90%;
                
                span {
                    display: none;
                }

                i {
                    margin: 0;
                    font-size: 1.4em;
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
    
    #message-section {
        width: 100vw;

        h2 {
            font-size: 1.5em;
        }
    
        .talk {
            width: 100%;
        }
    }
    
    #message-btn {
        right: 10px;
        bottom: 10px;
        width: auto;
        border-radius: 100%;
    }

    // Theme

    body.light {
        #tool-bar {
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            
            .btn {
                box-shadow: none;
                background: #f3f3f3;
            } 
        }
    }
    
    body.dark {
        #tool-bar {
            background: #0D0D1A;
            box-shadow: 0px 2px 5px rgba(134, 134, 134, 0.1);
            
            .btn {
                box-shadow: none;
                background: #31313d;
            }
        }
    }
}