body { 
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 2em;

        .left {
            width: 60%;
            max-width: 900px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            .top {
                margin-bottom: 3em;
                display: flex;
            }

            .content {
                font-size: 1.5em;
                letter-spacing: 2px;
                width: 80%;
            }
        }

        .right {  
            display: flex;
            flex-direction: column;
            justify-content: center;  
            width: 40%;

            .top,
            form {
                max-width: 600px;
            }

            .top {
                font-size: 1.8em;
                letter-spacing: 2px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 1em;

                background: linear-gradient(35deg, #7700ff 40%,  #0059ff);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Comfortaa', cursive;

                text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.507);
            }

            form {

                label {
                    font-size: 1.2em;
                    font-weight: 500;
                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 1em;
                    border-radius: .5em;
                    font-size: 1em;
                    font-weight: 500;

                    &:not(:last-child) {
                        margin-bottom: 2em;
                    }
                }

                input[type="submit"] {
                    background: linear-gradient(35deg, #7700ff 40%,  #0059ff) !important; 
                    color: #FFF;
                    font-weight: 600;
                    font-size: 1.1em;
                    cursor: pointer;
                }
            }

            .forgot {
                text-align: center;
                margin-top: 1em;
                color: rgba(133, 133, 133, 0.8);
                font-weight: lighter;

                &:hover {
                    color: rgba(185, 185, 185, 0.8);
                    transition: 200ms;
                }
            }

            .or {
                margin: 2em 0;
                position: relative;
                text-align: center;
                font-weight: 500;
                width: 100%;

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }
                
                &::before, 
                &::after {
                    content: '';
                    position: absolute;
                    height: 8px;
                    width: 40%;
                    background: rgba(141, 141, 141, 0.411);
                    bottom: 8px;
                    border-radius: 1em;
                }
            }

            .google-login{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    #switch-form-btn {
        position: fixed;
        bottom: 0;
        left: 0;

        background: linear-gradient(35deg, #7700ff 40%,  #0059ff); 
        border-radius: 0 2em 0 0;
        padding: 25px 30px 10px 15px;

        font-size: 1.2em;
        color: #FFF;

        &:hover {
            padding: 25px 30px 20px 15px;
        }
    }
}

// Feedback 

.feedback {
    border-radius: 1em;
    padding: 5px 10px;
    font-size: .9em;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.error {
    background: rgb(220, 20, 60);
}

.success {
    background: rgb(21, 79, 117);
}

@media screen and (max-width: 775px) {
    
    body {
        .container {
            flex-direction: column;
            padding: 4em 1em;

            .left {
                width: 100%;
                text-align: center; 
                margin: 2em 0;

                .top {
                    .logo {
                        font-size: 3em;   
                        text-align: center;
                        margin: 0 auto;
                    }
                }

                .content {
                    max-width: 600px;
                    width: 100%;
                    font-size: 1.2em; 
                }
            }

            .right {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 2em 0;

                .top {
                    font-size: 1.5em;
                }
            }
        }

        #switch-form-btn {
            position: absolute;
            text-align: center;
            border-radius: 0;
            padding: 20px;
            width: 100%;
    
            font-size: .9em;
            color: #FFF;
        }
    }
}