body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

body .container .left {
  width: 60%;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .left .top {
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .left .content {
  font-size: 1.5em;
  letter-spacing: 2px;
  width: 80%;
}

body .container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

body .container .right .top,
body .container .right form {
  max-width: 600px;
}

body .container .right .top {
  font-size: 1.8em;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
  background: linear-gradient(35deg, #7700ff 40%, #0059ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Comfortaa', cursive;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.507);
}

body .container .right form label {
  font-size: 1.2em;
  font-weight: 500;
}

body .container .right form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1em;
  border-radius: .5em;
  font-size: 1em;
  font-weight: 500;
}

body .container .right form input:not(:last-child) {
  margin-bottom: 2em;
}

body .container .right form .show-password {
  position: relative;
}

body .container .right form .show-password #show-password-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  font-size: 1.5em;
  cursor: pointer;
}

body .container .right form input[name="password"] {
  padding-right: 64px;
}

body .container .right form input[type="submit"] {
  background: linear-gradient(35deg, #7700ff 40%, #0059ff) !important;
  color: #FFF;
  font-weight: 600;
  font-size: 1.1em;
  cursor: pointer;
}

body .container .right .or {
  margin: 2em 0;
  position: relative;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

body .container .right .or::before {
  left: 0;
}

body .container .right .or::after {
  right: 0;
}

body .container .right .or::before, body .container .right .or::after {
  content: '';
  position: absolute;
  height: 8px;
  width: 40%;
  background: rgba(141, 141, 141, 0.411);
  bottom: 8px;
  border-radius: 1em;
}

body .container .right .google-login {
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 3em;
  font-size: 1em;
  font-weight: 500;
  padding: 1em;
  border: 2px solid #4285F4;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #4d4d4d;
}

body .container .right .google-login img {
  width: 2em;
  margin-right: 1em;
}

body #switch-theme-btn {
  top: 10px;
  left: 10px;
}

body #switch-form-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  background: linear-gradient(35deg, #7700ff 40%, #0059ff);
  border-radius: 0 2em 0 0;
  padding: 25px 30px 10px 15px;
  font-size: 1.2em;
  color: #FFF;
}

body #switch-form-btn:hover {
  padding: 25px 30px 20px 15px;
}

body.light input {
  -webkit-box-shadow: 0px 0px 10px #d8d8d8;
          box-shadow: 0px 0px 10px #d8d8d8;
  color: #4e4e4e;
}

body.light .show-password-btn {
  color: #4e4e4e;
}

body.dark input {
  background: #1e1e30;
  color: #d8d8d8;
}

body.dark .show-password {
  color: #d8d8d8;
}

@media screen and (max-width: 775px) {
  body .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4em 1em;
  }
  body .container .left {
    width: 100%;
    text-align: center;
    margin: 2em 0;
  }
  body .container .left .top .logo {
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
  }
  body .container .left .content {
    max-width: 600px;
    width: 100%;
    font-size: 1.2em;
  }
  body .container .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 2em 0;
  }
  body .container .right .top {
    font-size: 1.5em;
  }
  body .container .right .google-login {
    width: 100%;
    margin-bottom: 4em;
  }
  body #switch-form-btn {
    position: absolute;
    text-align: center;
    border-radius: 0;
    padding: 20px;
    width: 100%;
    font-size: .9em;
    color: #FFF;
  }
}
/*# sourceMappingURL=forms.css.map */