.top {
  position: relative;
  -webkit-box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

.top .banner {
  width: 100%;
  height: 25vh;
}

.top .banner img {
  width: 100%;
  height: 100%;
}

.top .info {
  padding: 1em 2em;
}

.top .info img {
  position: absolute;
  border-radius: 90%;
  width: 25vh;
  height: 25vh;
  top: 10vh;
  left: 1em;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 4px solid rgba(0, 0, 0, 0.5);
}

.top .info .time {
  text-align: right;
  color: silver;
  font-size: .9em;
}

.top .info .time i {
  margin-right: 5px;
}

.top .info .clear {
  height: 8vh;
}

.top .info .name {
  font-size: 1.4em;
}

.top .info .description {
  font-size: .8em;
  text-align: justify;
  color: #b8b8b8;
  margin: 1em 0;
}

.top .info .bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .info .bottom-bar .left {
  font-size: .9em;
}

.top .info .bottom-bar .left a {
  padding-right: 1em;
  color: #646464;
}

.top .info .bottom-bar .left a span {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.top .info .bottom-bar .left a:hover {
  text-decoration: underline;
}

.top .info .bottom-bar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .info .bottom-bar .right .btn {
  padding: 5px 10px;
  font-size: 1em;
  border-radius: .5em;
  cursor: pointer;
  font-weight: 500;
}

.top .info .bottom-bar .right .btn:not(:last-child) {
  margin-right: 10px;
}

body.light .info .time {
  color: #333333;
}

body.light .info .description {
  color: #333333;
}

body.light .info .bottom-bar .left a {
  color: #646464;
}

body.light .info .bottom-bar .left a span {
  color: black;
}

body.light .info .bottom-bar .right .btn {
  border: 1px solid black;
}

body.light .info .bottom-bar .right .btn:hover {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: 200ms;
  transition: 200ms;
}

body.dark {
  -webkit-box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

body.dark .info .time {
  color: silver;
}

body.dark .info .description {
  color: #b8b8b8;
}

body.dark .info .bottom-bar .left a {
  color: #646464;
}

body.dark .info .bottom-bar .left a span {
  color: rgba(255, 255, 255, 0.8);
}

body.dark .info .bottom-bar .right .btn {
  border: 1px solid silver;
}

body.dark .info .bottom-bar .right .btn:hover {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 200ms;
  transition: 200ms;
}

@media screen and (max-width: 900px) {
  .top .info {
    padding: 1em;
  }
  .top .info img {
    width: 20vh;
    height: 20vh;
    top: 15vh;
    left: 1em;
  }
  .top .info .time {
    font-size: .7em;
  }
  .top .info .name {
    font-size: 1.2em;
  }
  .top .info .bottom-bar .left {
    font-size: .8em;
  }
  .top .info .bottom-bar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top .info .bottom-bar .right .btn {
    font-size: .8em;
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top .info .bottom-bar .right .btn span {
    display: none;
  }
  .top .info .bottom-bar .right .btn:not(:last-child) {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=user.css.map */