.top {
  position: relative;
  -webkit-box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

.top .banner {
  width: 100%;
  height: 25vh;
}

.top .banner img {
  width: 100%;
  height: 100%;
}

.top .info {
  padding: 1em;
}

.top .info img {
  position: absolute;
  border-radius: 90%;
  width: 25vh;
  height: 25vh;
  top: 10vh;
  left: 1em;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 4px solid rgba(0, 0, 0, 0.5);
}

.top .info .time {
  text-align: right;
  color: silver;
  font-size: .9em;
}

.top .info .time i {
  margin-right: 5px;
}

.top .info .clear {
  height: 8vh;
}

.top .info .name {
  font-size: 1.4em;
}

.top .info .description {
  font-size: .9em;
  text-align: justify;
  color: #b8b8b8;
  margin: 1em 0;
  word-break: break-all;
}

.top .info .bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .info .bottom-bar .left {
  font-size: .9em;
}

.top .info .bottom-bar .left a {
  padding-right: 1em;
  color: #646464;
}

.top .info .bottom-bar .left a span {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.top .info .bottom-bar .left a:hover {
  text-decoration: underline;
}

.top .info .bottom-bar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.top .info .bottom-bar .right .btn {
  padding: 5px 10px;
  font-size: 1em;
  border-radius: .5em;
  cursor: pointer;
  font-weight: 500;
}

.top .info .bottom-bar .right .btn:not(:last-child) {
  margin-right: 10px;
}

.top .info .bottom-bar .right #ellipsis {
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top .info .bottom-bar .right #ellipsis-modal {
  -webkit-transition: 0;
  transition: 0;
  position: absolute;
  bottom: 55px;
  right: 0em;
}

.top .info .bottom-bar .right #ellipsis-modal.close {
  height: 100px;
  width: 0;
}

.top .info .bottom-bar .right #ellipsis-modal.close .btn {
  display: none;
}

.top .info .bottom-bar .right #ellipsis-modal.open {
  width: 200px;
  border-radius: 1em;
}

.top .info .bottom-bar .right #ellipsis-modal.open a .btn {
  border-radius: 1em 1em 0 0 !important;
}

.top .info .bottom-bar .right #ellipsis-modal.open .btn {
  display: block;
  border-radius: 0;
  margin-right: 0;
  padding: 10px;
  text-align: center;
  height: 50px;
}

.top .info .bottom-bar .right #ellipsis-modal.open .btn:first-child {
  border-radius: 1em 1em 0 0;
}

.top .info .bottom-bar .right #ellipsis-modal.open .btn:last-child {
  border-radius: 0 0 1em 1em;
}

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-list .tab {
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.tab-list .tab:hover {
  background: rgba(255, 255, 255, 0.1);
}

.tab-list .tab .underline {
  background-color: rgba(95, 0, 204, 0.5);
  width: 60%;
  border-radius: 1em;
  height: 4px;
  margin: auto;
}

body.light .info .time {
  color: #333333;
}

body.light .info .description {
  color: #333333;
}

body.light .info .bottom-bar .left a {
  color: #646464;
}

body.light .info .bottom-bar .left a span {
  color: black;
}

body.light .info .bottom-bar .right .btn {
  border: 1px solid black;
}

body.light .info .bottom-bar .right .btn:hover {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: 200ms;
  transition: 200ms;
}

body.light .tab-list .tab {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

body.light #ellipsis-modal.open {
  background: white;
}

body.light #ellipsis-modal.open a {
  color: #252525;
}

body.light #ellipsis-modal.open .btn {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

body.dark {
  -webkit-box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

body.dark .info .time {
  color: silver;
}

body.dark .info .description {
  color: #b8b8b8;
}

body.dark .info .bottom-bar .left a {
  color: #646464;
}

body.dark .info .bottom-bar .left a span {
  color: rgba(255, 255, 255, 0.8);
}

body.dark .info .bottom-bar .right .btn {
  border: 1px solid silver;
}

body.dark .info .bottom-bar .right .btn:hover {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 200ms;
  transition: 200ms;
}

body.dark .tab-list .tab {
  border: 2px solid rgba(255, 255, 255, 0.1);
}

body.dark #ellipsis-modal.open {
  background: #272525;
}

body.dark #ellipsis-modal.open a {
  color: #EDEDED;
}

@media screen and (max-width: 900px) {
  .top .info img {
    width: 20vh;
    height: 20vh;
    top: 15vh;
    left: 1em;
  }
  .top .info .time {
    font-size: .7em;
  }
  .top .info .name {
    font-size: 1.2em;
  }
  .top .info .bottom-bar .left {
    font-size: .7em;
  }
  .top .info .bottom-bar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top .info .bottom-bar .right .btn {
    font-size: .8em;
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top .info .bottom-bar .right .btn span {
    display: none;
  }
  .top .info .bottom-bar .right .btn:not(:last-child) {
    margin-right: 10px;
  }
  .top .info .bottom-bar .right #ellipsis {
    width: 30px;
    height: 30px;
  }
  .top .info .bottom-bar .right #ellipsis-modal {
    -webkit-transition: 0;
    transition: 0;
    position: absolute;
    bottom: 40px;
    right: 0em;
  }
  .top .info .bottom-bar .right #ellipsis-modal .btn {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=user.css.map */