#container {
  padding: 2em 4em;
  position: relative;
}

.theme-box {
  margin: 2em 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: .9em;
}

.theme-box #switch-theme-btn {
  cursor: pointer;
  position: relative;
  width: 60px;
  border-radius: 1em;
  height: 30px;
  display: inline-block;
  margin-right: 15px;
}

.theme-box #switch-theme-btn .slider {
  height: 24px;
  width: 24px;
  display: block;
  position: absolute;
  border-radius: 90%;
  top: 3px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.theme-box input:checked + .slider {
  left: 4px;
}

.theme-box input:not(:checked) + .slider {
  left: 32px;
}

.theme-box #theme-check {
  display: none;
}

#container .settings {
  padding-bottom: 6em;
}

#container .settings .btn {
  cursor: pointer;
  padding: 15px 25px;
  background: linear-gradient(45deg, #7700ff, #eb4808);
  opacity: .8;
  border-radius: 1em;
  font-size: 1.1vw;
  color: #FFF;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.377);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.377);
  margin-bottom: .9em;
  -webkit-transition: 400ms;
  transition: 400ms;
}

#container .settings .btn.open {
  border-radius: 1em 1em 0 0;
}

#container .settings .btn i {
  margin-right: 15px;
}

#container .settings #logout-btn {
  position: absolute;
  background: crimson;
}

/* Form Manage */
#container .settings .form-manage {
  -webkit-transition: 400ms;
  transition: 400ms;
}

#container .settings .form-manage.close {
  height: 0;
  display: none;
}

#container .settings .form-manage.close form,
#container .settings .form-manage.close label,
#container .settings .form-manage.close input {
  display: none;
}

#container .settings .form-manage.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 3em;
  padding: 2em 1em;
  margin-top: -1.2em;
  border-radius: 0 0 1em 1em;
}

#container .settings .form-manage.open form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .settings .form-manage.open label {
  width: 100%;
  display: block;
  padding: 1em 0 1em 0;
  font-weight: 600;
}

#container .settings .form-manage.open input {
  outline: none;
  border: none;
  padding: 1em;
  width: 70%;
  border-radius: 1em;
  font-size: 1em;
}

#container .settings .form-manage.open textarea {
  outline: none;
  border: none;
  resize: none;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 1em;
  font-size: .8em;
}

#container .settings .form-manage.open input[type="submit"] {
  background: seagreen;
  color: #FFF;
  font-weight: 700;
  width: 25%;
}

#container .settings .form-manage.open input[type="submit"]:hover {
  background: #166b3b;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#container .settings .form-manage.open .show-password {
  width: 70%;
}

#container .settings .form-manage.open .show-password input {
  width: 100%;
}

#container .settings #block-manage.open .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 1em;
  font-weight: 500;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

#container .settings #block-manage.open .block .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90%;
  word-break: break-all;
  padding-left: 1em;
}

#container .settings #block-manage.open .block .left img {
  margin-right: 10px;
}

#container .settings #block-manage.open .block .right {
  cursor: pointer;
  font-size: 1.3em;
  padding-right: 1em;
}

#container .settings #block-manage.open .block .right i {
  color: crimson;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
}

#container .settings #block-manage.open .block .time {
  width: 100%;
  text-align: center;
  font-weight: lighter;
  padding: 5px;
  border-radius: 0 0 1em 1em;
  margin-top: 10px;
  color: gray;
}

/* Theme */
body.light #container .settings .form-manage.open {
  background: #cccccc;
}

body.light #container .settings #block-manage.open .block {
  background: #d8d8d8;
}

body.light #container .settings #block-manage.open .block a {
  color: #0D0D1A;
}

body.light #container .settings #block-manage.open .block .time {
  background: #dfdfdf;
}

body.light #switch-theme-btn {
  background: #dfdfdf;
}

body.light #switch-theme-btn .slider {
  background: #0D0D1A;
}

body.dark #container .settings .form-manage.open {
  background: #10101a;
  -webkit-box-shadow: 0 2px 5px rgba(255, 255, 255, 0.151);
          box-shadow: 0 2px 5px rgba(255, 255, 255, 0.151);
}

body.dark #container .settings #block-manage.open .block {
  background: #1e1e30;
}

body.dark #container .settings #block-manage.open .block a {
  color: #EDEDED;
}

body.dark #container .settings #block-manage.open .block .time {
  background: #282833;
}

body.dark #switch-theme-btn {
  background: #1e1e30;
}

body.dark #switch-theme-btn .slider {
  background: #eb4808;
  -webkit-box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 900px) {
  #container {
    padding: 1em;
  }
  #container .settings .btn {
    font-size: 1em;
  }
  /* Form manage */
  #container .settings .form-manage.open {
    padding: 2em 1em 1em 1em;
  }
  #container .settings .form-manage.open form {
    display: block;
    font-size: .9em;
  }
  #container .settings .form-manage.open input {
    width: 100%;
    font-size: 1.1em;
    margin-bottom: 2em;
  }
  #container .settings .form-manage.open textarea {
    width: 100%;
    font-size: 1.1em;
    margin-bottom: 2em;
  }
  #container .settings .form-manage.open .show-password {
    width: 100%;
    margin-bottom: 2.5;
  }
  #container .settings .form-manage.open .show-password input {
    width: 100%;
  }
  #container .settings .form-manage.open input[type="submit"] {
    width: 100%;
  }
  #container .settings #block-manage.open .block {
    font-size: .8em;
  }
  #container .settings #block-manage.open .block .left img {
    display: none;
  }
}
/*# sourceMappingURL=settings.css.map */