#container .name {
    margin: 2em 0;
}

.undefined {
    text-align: center;
    padding: 10em 1em;
}

.undefined i {
    display: block;
    font-size: 5em;
    margin-bottom: 10px;
}

.undefined span {
    font-size: 1.2em;
}